body { 
	background-color: #9CE3BA; }

#navbar {
  list-style-type: none;
	margin: 0;
	width: 100%;
	padding: 0.7vw 0vw;
	background-color: #2E6B2E;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;}
  
#navbar li {
  display: inline;}

#navbar a:hover {
	background-color:  #3D8F3D; }

li a {
	padding: 0.7vw 1.7vw;
	font-size: 1.2em;
	border-right-style: solid;
	border-width: 1px;
	text-decoration: none;
	color: #2DB7B7; }

.centered {
	text-align: center:}

.left{
	text-align: left; }

.leftindent{
	text-align: left;
	text-indent: 55px; }

iframe {
	width: 70%;
	margin-left: 15%;
	height: 60vw;}

header {
	text-align: center;
	width: 100%;
	background-color: #B0B0B0;
	padding-bottom: 20px;
	padding-top: 15px;
	font-family: "Times New Roman", Times, serif;
	font-size: 1.5em; }

